<% layout('layouts/boilerplate')%>

    <title>making a thing</title>
    
    <div class = "col-md-6 offset-md-3">
        <h1 class = "display-3 mb-3">making a thing</h1>    
 
    <ul>
        <li>submit a <a href="/ideas/new">new idea</a></li>
        <li>responses appear on the <a href = "/ideas">idea masterlist</a></li>
        <li>go make something!</li>
        <li>:DDDDD</li>
    </ul>
    </div>
    
    
