<% layout('/layouts/test')%>
    <title>login</title>
    
    <div class = "col-md-6 offset-md-3">
    <h1>login</h1>
    <form action="/login" method = "POST" class = "needs-validation" novalidate>

        <div class = 'mb-3'>
            <label class = "form-label" for="username">username: </label>
            <input class = "form-control" type="username" name="username" id="username" required>
        </div>

        <div class = 'mb-3'>
            <label class = "form-label" for="username">password: </label>
            <input class = "form-control" type="password" name="password" id="password" required>
        </div>

        <div class="col-12">
            <button class="btn btn-success">go</button>
        </div>
    </div>
    </form>




